name: CI - Build & Push Docker Image

permissions:
  contents: write
  
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            hrushikesh2k1/genai-service:${{ github.sha }}

      - name: Update Helm values.yaml image tag
        run: |
          sed -i "s/^  tag:.*/  tag: ${GITHUB_SHA}/" helm/values.yaml

      - name: Commit updated Helm values.yaml
        run: |
          git add helm/values.yaml
          git commit -m "ci: update image tag to ${GITHUB_SHA}" || echo "No changes to commit"
          git push

